In [1]:
import pandas as pd  # libreria pandas para el tratamiento de los datos
import jsonlines # libreria jsonlines para leer los archivos provenientes en formato json
import matplotlib # libreria matplotlib para la visualizacion de los datos

In [9]:
path_yelp_busines = r'C:\Users\Usr\Desktop\A_labs\DataSets\PF-Yelp-Google\yelp_dataset_business.json'

# Abrir archivo JSONL y cargar datos
with jsonlines.open(path_yelp_busines) as f:
    data = [line for line in f]

# Convertir el archivo JSONL en un DataFrame
df = pd.json_normalize(data)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150346 entries, 0 to 150345
Data columns (total 60 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   business_id                            150346 non-null  object
 1   name                                   150346 non-null  object
 2   address                                150346 non-null  object
 3   city                                   150346 non-null  object
 4   state                                  150346 non-null  object
 5   postal_code                            150346 non-null  object
 6   latitude                               150346 non-null  float64
 7   longitude                              150346 non-null  float64
 8   stars                                  150346 non-null  float64
 9   review_count                           150346 non-null  int64
 10  is_open                                150346 non-null  int64
 11  categories                             150243 non-null  object
 12  hours                                  0 non-null       float64
 13  attributes.ByAppointmentOnly           42339 non-null   object
 14  attributes.BusinessAcceptsCreditCards  119765 non-null  object
 15  hours.Monday                           114474 non-null  object
 16  hours.Tuesday                          120631 non-null  object
 17  hours.Wednesday                        123771 non-null  object
 18  hours.Thursday                         125198 non-null  object
 19  hours.Friday                           124999 non-null  object
 20  hours.Saturday                         110770 non-null  object
 21  attributes.BikeParking                 72638 non-null   object
 22  attributes.RestaurantsPriceRange2      85314 non-null   object
 23  attributes.CoatCheck                   5584 non-null    object
 24  attributes.RestaurantsTakeOut          59857 non-null   object
 25  attributes.RestaurantsDelivery         56282 non-null   object
 26  attributes.Caters                      40127 non-null   object
 27  attributes.WiFi                        56914 non-null   object
 28  attributes.BusinessParking             91085 non-null   object
 29  attributes.WheelchairAccessible        28953 non-null   object
 30  attributes.HappyHour                   15171 non-null   object
 31  attributes.OutdoorSeating              48802 non-null   object
 32  attributes.HasTV                       45084 non-null   object
 33  attributes.RestaurantsReservations     45247 non-null   object
 34  attributes.DogsAllowed                 18284 non-null   object
 35  hours.Sunday                           81172 non-null   object
 36  attributes.Alcohol                     43189 non-null   object
 37  attributes.GoodForKids                 53375 non-null   object
 38  attributes.RestaurantsAttire           39255 non-null   object
 39  attributes.Ambience                    44279 non-null   object
 40  attributes.RestaurantsTableService     19982 non-null   object
 41  attributes.RestaurantsGoodForGroups    44170 non-null   object
 42  attributes.DriveThru                   7760 non-null    object
 43  attributes                             0 non-null       float64
 44  attributes.NoiseLevel                  37993 non-null   object
 45  attributes.GoodForMeal                 29087 non-null   object
 46  attributes.BusinessAcceptsBitcoin      17430 non-null   object
 47  attributes.Smoking                     4567 non-null    object
 48  attributes.Music                       7521 non-null    object
 49  attributes.GoodForDancing              4628 non-null    object
 50  attributes.AcceptsInsurance            5713 non-null    object
 51  attributes.BestNights                  5694 non-null    object
 52  attributes.BYOB                        4451 non-null    object
 53  attributes.Corkage                     3553 non-null    object
 54  attributes.BYOBCorkage                 1444 non-null    object
 55  attributes.HairSpecializesIn           1065 non-null    object
 56  attributes.Open24Hours                 39 non-null      object
 57  attributes.RestaurantsCounterService   19 non-null      object
 58  attributes.AgesAllowed                 129 non-null     object
 59  attributes.DietaryRestrictions         31 non-null      object
dtypes: float64(5), int64(2), object(53)
memory usage: 68.8+ MB

In [29]:
df.describe()

,latitude,longitude,stars,review_count,is_open,hours,attributes
count,150346.000000,150346.000000,150346.000000,150346.000000,150346.00000,0.0,0.0
mean,36.671150,-89.357339,3.596724,44.866561,0.79615,NaN,NaN
std,5.872759,14.918502,0.974421,121.120136,0.40286,NaN,NaN
min,27.555127,-120.095137,1.000000,5.000000,0.00000,NaN,NaN
25%,32.187293,-90.357810,3.000000,8.000000,1.00000,NaN,NaN
50%,38.777413,-86.121179,3.500000,15.000000,1.00000,NaN,NaN
75%,39.954036,-75.421542,4.500000,37.000000,1.00000,NaN,NaN
max,53.679197,-73.200457,5.000000,7568.000000,1.00000,NaN,NaN

In [30]:
df.isnull().sum()

business_id                                   0
name                                          0
address                                       0
city                                          0
state                                         0
postal_code                                   0
latitude                                      0
longitude                                     0
stars                                         0
review_count                                  0
is_open                                       0
categories                                  103
hours                                    150346
attributes.ByAppointmentOnly             108007
attributes.BusinessAcceptsCreditCards     30581
hours.Monday                              35872
hours.Tuesday                             29715
hours.Wednesday                           26575
hours.Thursday                            25148
hours.Friday                              25347
hours.Saturday                            39576
attributes.BikeParking                    77708
attributes.RestaurantsPriceRange2         65032
attributes.CoatCheck                     144762
attributes.RestaurantsTakeOut             90489
attributes.RestaurantsDelivery            94064
attributes.Caters                        110219
attributes.WiFi                           93432
attributes.BusinessParking                59261
attributes.WheelchairAccessible          121393
attributes.HappyHour                     135175
attributes.OutdoorSeating                101544
attributes.HasTV                         105262
attributes.RestaurantsReservations       105099
attributes.DogsAllowed                   132062
hours.Sunday                              69174
attributes.Alcohol                       107157
attributes.GoodForKids                    96971
attributes.RestaurantsAttire             111091
attributes.Ambience                      106067
attributes.RestaurantsTableService       130364
attributes.RestaurantsGoodForGroups      106176
attributes.DriveThru                     142586
attributes                               150346
attributes.NoiseLevel                    112353
attributes.GoodForMeal                   121259
attributes.BusinessAcceptsBitcoin        132916
attributes.Smoking                       145779
attributes.Music                         142825
attributes.GoodForDancing                145718
attributes.AcceptsInsurance              144633
attributes.BestNights                    144652
attributes.BYOB                          145895
attributes.Corkage                       146793
attributes.BYOBCorkage                   148902
attributes.HairSpecializesIn             149281
attributes.Open24Hours                   150307
attributes.RestaurantsCounterService     150327
attributes.AgesAllowed                   150217
attributes.DietaryRestrictions           150315
dtype: int64

In [31]:
df.shape[0]

150346

In [33]:
df['hours']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
150341   NaN
150342   NaN
150343   NaN
150344   NaN
150345   NaN
Name: hours, Length: 150346, dtype: float64

In [35]:
df.to_parquet(r'C:\Users\Usr\Desktop\A_labs\DataSets\PF-Yelp-Google\yelp_dataset_business.parquet')